# Arduino build artifacts
build/
**/build/
*.elf
*.bin
*.map
*.zip
*.hex

# Arduino CLI cache
.tmp/
.arduino*

# Arduino CLI flags
.arduino-cli-flags

# Editor and OS junk
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
todo.txt
